:root {
  --black: #1b1d29;
  --white: #ffffff;

  --btn-red: #ed9cf0;
  --btn-red-hover: #cc34b3;
  --btn-light-blue: rgb(105, 56, 238);
  --btn-light-blue-hover: #1c0cf8;
  --shadow: #cccea7;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body,
html,
#app {
  height: 100%;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Montserrat", sans-serif;
}
a:hover {
  color: aqua;
  font-size: 200%;
  transform: scale(0.9);
}
/******* 
   * APP *
   *******/

#app {
  background: var(--bg-overlay);
  overflow-y: scroll;
}

.app-overlay {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: url(../images/NITRR.jpg) no-repeat center center fixed;
  background-size: cover;
  z-index: -1;
}

/********** 
   * HEADER *
   **********/

header {
  background-color: #c7e9fb;
  background-image: linear-gradient(315deg, #c7e9fb 0%, #e61d8c 74%);

  padding: 1rem 2rem;
}

.logo {
  color: var(--white);
  display: flex;
  align-items: center;
  justify-content: center;
}

/* US ELECTIONS */
.logo h1 {
  font-size: 3rem;
}

/* Star */
.logo img {
  margin-right: 1rem;
  width: 4rem;
}

/******** 
   * MAIN *
   ********/

main {
  height: 100%;
}

.cards {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 5rem 0;
}

/* Card */
.card {
  width: 25rem;
  border: 2px solid var(--black);
  overflow: hidden;

  transition: all 0.5s ease;
  cursor: pointer;
}

.card:first-of-type {
  margin-bottom: 5rem;
}

/* Card image */
.card-image {
  width: 25rem;
  height: 20rem;
  object-fit: cover;
  vertical-align: middle;
}

/* Card information */
.card-info {
  display: flex;
  justify-content: space-evenly;
  background: var(--white);
  color: var(--black);
  padding: 2rem 0;
}

.candidate-votes {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60px;
}

.votes-number-A1,
.votes-number-B1 {
  font-weight: 700;
  font-size: 2.5rem;
}

.votes-text {
  font-size: 1rem;
  font-weight: 600;
}

/* Line */
.line {
  width: 0.1rem;
  background: var(--black);
}

/* Candidate info */
.candidate-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.candidate-name {
  font-size: 1.6rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
}

.candidate-party {
  font-size: 1rem;
  font-weight: 600;
}

/* Card button */
.card-btn {
  width: 100%;
  border: none;
  outline: none;
  font-size: 1.5rem;
  font-weight: 700;
  padding: 1.5rem 0;
  color: var(--white);
  cursor: pointer;
  border-top: 2px solid var(--black);
}

.btn-A1,
.btn-B1 {
  transition: all 0.5s ease;
}

.btn-A1 {
  background: var(--btn-red);
}

.btn-B1 {
  background: var(--btn-light-blue);
}
