/*************** 
 * BASE STYLES *
 ***************/

/* Variables */

:root {
  --black: #1b1d29;
  --white: #ffffff;

  --btn-red: #fe4c13;
  --btn-red-hover: #ff0000;
  --btn-light-blue: rgb(105, 56, 238);
  --btn-light-blue-hover: #1c0cf8;
  --shadow: #cccea7;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body,
html,
#app {
  height: 100%;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Montserrat", sans-serif;
}
a:hover {
  color: palevioletred;
  transform: scale(0.9);
}
/******* 
 * APP *
 *******/

#app {
  background: var(--bg-overlay);
  overflow-y: scroll;
}

.app-overlay {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: url(../images/NITRR.jpg) no-repeat center center fixed;
  background-size: cover;
  z-index: -1;
}

/********** 
 * HEADER *
 **********/

header {
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 9, 121, 1) 35%,
    rgba(8, 25, 131, 1) 40%,
    rgba(6, 78, 166, 1) 48%,
    rgba(5, 103, 183, 1) 65%,
    rgba(4, 122, 195, 1) 71%,
    rgba(4, 131, 201, 1) 74%,
    rgba(0, 212, 255, 1) 100%
  );
  padding: 1rem 2rem;
}

.logo {
  color: var(--white);
  display: flex;
  align-items: center;
  justify-content: center;
}

/* US ELECTIONS */
.logo h1 {
  font-size: 3rem;
}

/* Star */
.logo img {
  margin-right: 1rem;
  width: 4rem;
}

/******** 
 * MAIN *
 ********/

main {
  height: 100%;
}

.cards {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 5rem 0;
}

/* Card */
.card {
  width: 25rem;
  border: 2px solid var(--black);
  overflow: hidden;

  transition: all 0.5s ease;
  cursor: pointer;
}

.card:first-of-type {
  margin-bottom: 5rem;
}

/* Card image */
.card-image {
  width: 25rem;
  height: 20rem;
  object-fit: cover;
  vertical-align: middle;
}

/* Card information */
.card-info {
  display: flex;
  justify-content: space-evenly;
  background: var(--white);
  color: var(--black);
  padding: 2rem 0;
}

.candidate-votes {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60px;
}

.votes-number-A,
.votes-number-B {
  font-weight: 700;
  font-size: 2.5rem;
}

.votes-text {
  font-size: 1rem;
  font-weight: 600;
}

/* Line */
.line {
  width: 0.1rem;
  background: var(--black);
}

/* Candidate info */
.candidate-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.candidate-name {
  font-size: 1.6rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
}

.candidate-party {
  font-size: 1rem;
  font-weight: 600;
}

/* Card button */
.card-btn {
  width: 100%;
  border: none;
  outline: none;
  font-size: 1.5rem;
  font-weight: 700;
  padding: 1.5rem 0;
  color: var(--white);
  cursor: pointer;
  border-top: 2px solid var(--black);
}

.btn-A,
.btn-B {
  transition: all 0.5s ease;
}

.btn-A {
  background: var(--btn-red);
}

.btn-B {
  background: var(--btn-light-blue);
}
